<div id="progress" class="progress hide" style="width: 400px; position: fixed; background-color: #FFF; box-shadow: 0 0 10px #CCC;">
    <div class="progress-bar progress-bar-success"></div>
</div>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script type="text/javascript" src="/js/vendor/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script type="text/javascript" src="/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script type="text/javascript" src="/js/jquery.fileupload.js"></script>
<script type="text/javascript">
var jprogress = jQuery('#progress');
var jprogressbar = jprogress.find('.progress-bar');

function upload(id, bucket, callback) {
    jQuery('#btn_' + id).click(function() {
        jQuery('#input_' + id).click();
    });
    jQuery('#input_' + id).fileupload({
        url: '/upload',
        formData: {
            'bucket': bucket
        },
        dataType: 'json',
        done: function(e, data) {
            jprogress.addClass('hide');
            callback(e, data);
        },
        fail: function(e, data) {
            jprogress.addClass('hide');
            callback(e, data);
        },
        send: function(e,data) {
            jprogress.removeClass('hide').css({
                'top': ($(window).height() - 30) / 2,
                'left': ($(window).width() - 200) / 2
            });
            jprogressbar.css('width', 0);
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            jprogressbar.css('width', progress + '%');
        }
    });
}
</script>