<!DOCTYPE html>
<html>
<head>
#parse("head.vm")
<link rel="stylesheet" href="/css/dashboard.css">
<title>球场详情</title>
</head>
<body>
    #parse("navbar.vm")

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">#parse("menu.vm")</div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h2 class="page-header">球场详情</h2>
                <div class="row">
                    <div class="form-horizontal">
                        <input type="hidden" id="id" name="id" value="$id">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="name" placeholder="名称" value="$!stadium.name" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">地图</label>
                            <div class="col-sm-5">
                                <span id="latlng">#if($stadium.latitude)&nbsp;$!stadium.longitude, $!stadium.latitude&nbsp;&nbsp;#end</span>
                                <input type="hidden" id="latitude" value="$!stadium.latitude">
                                <input type="hidden" id="longitude" value="$!stadium.longitude">
                                <button type="button" id="map" onclick="showMap()" class="btn btn-sm btn-default">选择地点</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-sm-2 control-label">地址</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="address" placeholder="地址" value="$!stadium.address" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-sm-2 control-label">联系电话</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="phone" placeholder="联系电话" value="$!stadium.phone" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="size" class="col-sm-2 control-label">球场容量</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="size" placeholder="球场容量" value="$!stadium.size" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="btn_gallery" class="col-sm-2 control-label">球场图片</label>
                            #foreach($imgurl in $stadium.gallery)
                            <div class="col-sm-2">
                                <button type="button" class="close delete" title="删除">&times;</button>
                                <img src="$imgurl" class="img-responsive">
                                <input type="hidden" name="gallery[]" value="$imgurl">
                            </div>
                            #end
                            <div class="col-sm-2">
                                <input type="file" accept="image/png,image/jpeg" class="form-control hide" id="input_gallery" name="files">
                                <button type="button" id="btn_gallery" class="btn btn-sm btn-default">上传图片</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="save" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    #parse("footer.vm")
    #parse("upload.vm")
    <script type="text/javascript">
    jQuery(function () {
        'use strict';
        
        upload('gallery', 'stadium', function(e, data) {
            var ret = data.result;
            if (ret && ret.code == 200) {
                var jimg = jQuery(imgTemplate);
                var src = ret.urls[0];
                jimg.data('imgUrl', src);
                jimg.find('img').attr('src', src);
                jimg.find('input[name="gallery[]"]').val(src);
                jimg.find('button.delete').click(function(e) {
                    jQuery(e.target).parent().remove();
                });
                jQuery('#btn_gallery').parent().before(jimg);
            } else {
                alert(ret ? ret.msg : '上传失败');
            }
        });
        
        jQuery('#save').click(function() {
            ajaxPost('/stadiums/$id', ['name', 'address', 'latitude', 'longitude', 'size', 'gallery[]', 'phone'], 
            function(data, status, jqXHR) {
                alert('添加/修改成功');
            }, function(jqXHR, status, e) {
                alert('添加/修改失败');
            });
        });
        
        jQuery('button.delete').click(function(e) {
            jQuery(e.target).parent().remove();
        });
    });
    var imgTemplate = '<div class="col-sm-2"><button class="close delete">&times;</button><img src="" class="img-responsive"><input type="hidden" name="gallery[]" value=""></div>';
    
    function showMap() {
        var q = jQuery('#name').val();
        window.open('/location?q=' + q + '&cid=010', "", 'width=800,height=500,top=100,left=200');
    }
    function selectPos(address, lng, lat) {
        jQuery('#address').val(address);
        jQuery('#latitude').val(lat);
        jQuery('#longitude').val(lng);
        jQuery('#latlng').html('&nbsp;' + lng + ', ' + lat + '&nbsp;&nbsp;');
    }
    </script>
</body>
</html>