<footer class="footer text-center">
    <div class="container">
        <a href="https://www.upyun.com/" target="_blank"><img alt="又拍云" src="/img/upyun_logo_120x60.png"></a>
    </div>
</footer>
<script type="text/javascript" src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
