<footer class="footer text-center">
    <div class="container">
        <a href="https://www.upyun.com/" target="_blank"><img alt="又拍云" src="https://www.upyun.com/images/league/120X60.png"></a>
    </div>
</footer>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
